*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 90px;
    width: 100%;
    border-bottom: 3px dashed yellow;
}

.Logo{
    margin-top: 5px;
    margin-left: 5px;
    height: 80px;
    width: 250px;
    border-radius: 10px;
    border: 5px solid deepskyblue;
}

.nav-menu{
    display: flex;
    gap: 20px;
    margin-top: -50px;
    margin-left: 990px;
}

.button1{
    height: 35px;
    width: 60px;
    font-size: 15px;
    font-weight: 600;
    color: red;
    border: 1px solid blue;
    border-radius: 10px;
}

.button2{
    height: 35px;
    width: 70px;
    font-size: 15px;
    font-weight: 600;
    color: red;
    border: 1px solid blue;
    border-radius: 10px;
}

.button3{
    height: 35px;
    width: 60px;
    font-size: 15px;
    font-weight: 600;
    color: red;
    border: 1px solid blue;
    border-radius: 10px;
}

.coin-page{
    display: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 90px;
    border-bottom: 3px dashed yellow;
}
